@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

*{  
   padding: 0;
   margin: 0;  
   box-sizing: border-box;
   background-color: black;
} 

html{
   font-size: 12px;
   font-family: 'Montserrat', sans-serif;
}

.logo{
   height: 110%;
   align-items: left;
}

nav{
	display: flex;
	width: 85%;
	height: 15%;
	margin: auto;
	padding: 0px;
	align-items: center;
	justify-content: space-between;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 20px 25px;
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 140%;
	font-weight: bold;
}

nav ul li a:hover{
	color: #F26B8A;
}

#blog{
    position: relative;
}

.blog-items{
    width: 600px;
    margin-right: 0%;
}

.blog-item{
    width: 100%;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    margin: 385px;
    margin-top: 10px;
    margin-bottom: 40px;
    flex-direction: row;
    box-shadow: 0px 0px 5px 0 white;
}

.blog h1{
    font-size: 250%;
    font-weight: 700;
    color: #F26B8A;
    line-height: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;     
}

.blog h2{
    font-size: 180%;    
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.blog h3{
    font-size: 100%;
    font-weight: 80;
    margin-top: 10px;
    color: #ffd1dc;
    text-align: center;
}

.blog h4{
    font-size: 120%;
    font-weight: 100;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.logo2 img{
    justify-content: center;
    width: 350px;
    margin-left: 0%; 
}

.logo3 img{
    justify-content: center;
    width: 400px;
}